/* This is the main  styling file */

/* Start landing page section styles */

.section-landing {
  min-height: 100vh;
  background-image: url('../imgs/landing/03.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  transition: 1s ease;
}

/* Header styling  */

.header {
  position: relative;
  z-index: 2;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0.8rem;
  text-transform: capitalize;
}

.header-logo {
  width: 30rem;
  padding: 1.8rem;
  font-size: 2.8rem;
  font-weight: 700;
}

.header-nav {
  width: 100%;
}

.header-nav-menu {
  list-style: none;
  padding: 0 1.8rem;
  font-size: 1.8rem;
  text-align: right;
}

.header-nav-item {
  display: inline-block;
  margin-left: 1.8rem;
}

.header-nav-link:link,
.header-nav-link:visited {
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
}

.header-nav-link:hover,
.header-nav-link:active,
.header-nav-link.acvive {
  color: var(--main-color);
}

/* introduction text styling  */

.introduction-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
}

.main-heading {
  font-size: 4.2rem;
  /* margin: 0; */
}

.main-heading-span {
  color: var(--main-color);
}

.main-description {
  font-size: 1.8rem;
  margin: 0;
}

/* End landing page section styles */
/* ======================================================================= */
/* Start sittings section styles */

.section-sittings {
  position: fixed;
  top: 0;
  left: -20rem;
  width: 20rem;
  min-height: 100vh;
  z-index: 100;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  transition: 1s ease-out;
}

.section-sittings.show {
  left: 0;
}

.sittings-icon {
  font-size: 2.4rem;
  position: absolute;
  top: 10rem;
  right: 0;
  padding: 0.4rem 1.2rem;
  background-color: var(--main-color);
  color: #fff;
  transform: translateX(100%);
  cursor: pointer;
}

@media (prefers-reduced-motion: reduce) {
  .fa-spin {
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
}

.section-sittings {
  padding: 1.2rem;
}

.sittings-option {
  padding: 0.8rem;
  background-color: #333;
  text-align: center;
  margin-bottom: 1.2rem;
}

.sittings-option-heading {
  font-size: 1.4rem;
  margin: 0;
  margin-bottom: 1.2rem;
}

.random-color {
  font-size: 1.4rem;
  border: 0;
  padding: 0.4rem 1.2rem;
  background: var(--main-color);
  color: #fff;
  cursor: pointer;
}

.colors-list {
  list-style: none;
  padding: 0;
  text-align: center;
}

.colors-list li {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 0.2rem;
  opacity: 0.5;
  transition: 0.3s ease;
}

.colors-list li.active {
  opacity: 1;
  border: 0.2rem #fff solid;
}

.color-orange {
  background-color: #ff9800;
}
.color-red {
  background-color: #e91e63;
}
.color-dark-green {
  background-color: #009688;
}
.color-baby-blue {
  background-color: #03a9f4;
}
.color-green {
  background-color: #4caf50;
}

.random-btns {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.random-btn {
  padding: 0.4rem 1.2rem;
  font-size: 1.4rem;
  cursor: pointer;
  background-color: var(--main-color);
  opacity: 0.5;
  outline: 0;
  color: #fff;
}

.random-btn:active {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}

.random-btn.active {
  border: 0.2rem #fff solid;
  opacity: 1;
}

/* End sittings section styles */
/* ======================================================================= */
/* Start  about us  section styles */

.section-about {
  padding: var(--section-padding);
  background-color: #000;
  min-height: 80vh;
  background-image: url('../imgs/about.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-text {
  position: relative;
  z-index: 2;
  color: #fff;
  text-align: center;
}

.about-description {
  color: #fff;
  font-size: 1.8rem;
}

/* End  about us  section styles */
/* ======================================================================= */
/* Start our skills section styles */

.section-skills {
  padding: var(--section-padding);
  background-color: #eee;
}

.skill-container {
  display: flex;
  align-items: center;
  height: 3.2rem;
  padding: 2.4rem;
  background-color: #fff;
  margin-bottom: 1.8rem;
}

.skill-tittle {
  width: 8.6rem;
  text-align: center;
  font-size: 1.4rem;
}

.skill-tittle::after {
  content: ':';
}

.skill-progress {
  flex: 1;
  height: 2.4rem;
  /*margin-left: 3.2rem;
  */
  background-color: #f6f6f6;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
  border-radius: 0.4rem;

  overflow: hidden;
}

.skill-progress > span {
  display: block;
  width: 0;
  height: 100%;
  background-color: var(--main-color);

  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

/* End our skills section styles */
/* ======================================================================= */
/* Start  gallery  section styles */
.section-gallery {
  padding: var(--section-padding);
  position: relative;
}

.gallery-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: -10;
  opacity: 0;

  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.gallery-popup-overlay.show {
  z-index: 1000;
  opacity: 1;
}

.popup-box {
  position: fixed;
  left: 50%;
  top: 50%;

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  background-color: #fff;
  padding: 1.4rem;
  border: 0.2rem solid #ccc;
}

.modal-heading {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  margin: 0 0 2.4rem;
  color: var(--main-color);
}

.modal-close-btn {
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
  border: 0;
  font-size: 1.8rem;
  background: var(--main-color);
  color: #fff;
  cursor: pointer;

  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
  border-radius: 0.4rem;
}

.popup-box img {
  max-width: 100%;
}

.gallery-images {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.8rem;
}

.gallery-images img {
  max-width: 100%;
  max-height: 100%;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
  border-radius: 0.4rem;
  cursor: pointer;
}
/* End gallery section styles */
/* ======================================================================= */
/* Start time line section styles */

.section-timeline {
  padding: var(--section-padding);
  background-color: #eee;
}

.timeline-item {
  position: relative;
  overflow: hidden;
}

.timeline-item:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 0.2rem;
  height: 100%;
  background-color: var(--main-color);
}

.timeline-year {
  position: absolute;
  top: 0.2rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--main-color);
  color: #fff;
  padding: 0.4rem 1.2rem;
  text-align: center;
  z-index: 2;
  font-size: 1.4rem;
  font-weight: 700;
  border-radius: 0.4rem;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

.timeline-item .content {
  margin-top: 1.8rem;
}

.timeline-content-left,
.timeline-content-right {
  width: calc(50% - 2.4rem);
  margin-top: 4.2rem;
  position: relative;
}

.timeline-content-left {
  float: left;
}

.timeline-content-right {
  float: right;
}

.timeline-content-left::before,
.timeline-content-right::before {
  content: '';
  width: 1.4rem;
  height: 1.4rem;
  background-color: #fff;
  border-radius: 50%;
  border: 0.3rem solid var(--main-color);
  position: absolute;
  top: 2.4rem;

}

.timeline-content-left::before {
  right: -3.5rem;
}

.timeline-content-right::before {
  left: -3.5rem;
}

.timeline-content-left::after,
.timeline-content-right::after {
  content: '';
  border-width: 1.2rem;
  border-style: solid;
  position: absolute;
  top: 2.4rem;
}

.timeline-content-left::after {
  border-color: transparent transparent transparent #fff;
  right: -2.4rem;
}

.timeline-content-right::after {
  border-color: transparent #fff transparent transparent;
  left: -2.4rem;
}

.timeline-item .content {
  padding: 1.8rem;
  background-color: #fff;
  border: 0.1rem solid #ddd;
}

.timeline-tittle {
  font-size: 1.8rem;
  margin: 0 0 1.8rem;
  color: var(--main-color);
}

.timeline-description {
  font-size: 1.4rem;
  color: #777;
  margin: 0;
}

/* End time line section styles */
/* ======================================================================= */
/* Start our features section styles */
.section-features {
  padding: var(--section-padding);
  background-color: #fff;
}

.section-features>.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.feature-item {
  text-align: center;
  width: 30%;
}

.feature-item img {
  width: 9.6rem;
  height: 9.6rem;
  max-width: 100%;
  border-radius: 50%;
  /* border: 0.5rem solid #ddd; */
}

.feature-title {
  font-size: 1.8rem;
  margin: 1.8rem 0 1.2rem;
  color: var(--main-color);
  text-transform: capitalize;
  position: relative;
}

.feature-title::before {
    content: '';
    width: 1.8rem;
    height: 0.2rem;
    background-color: var(--main-color);
  position: absolute;
  bottom: -0.8rem;
  left: 50%;
  transform: translateX(-50%);
}

.feature-description {
  font-size: 1.4rem;
  color: #777;
  margin: 0;
}

/* End our features section styles */
/* ======================================================================= */
/* Start testimonials section styles */

.section-testimonials {
  padding: var(--section-padding);
}

.testimonials-container {
  position: relative;
}

.testimonials-container .section-heading {
  color: #fff;
  position: relative;
  z-index: 10;
  text-align: left;
}

.testimonials-container::before,
.testimonials-container::after {
  content: '';
  position: absolute;
  top: 0;
  width: 50%;
  height: 120%;
}

.testimonials-container::before {
  left: 0;
  background-color: var(--main-color);
}

.testimonials-container::after {
  right: 0;
  background-color: #333;
}

.testimonials-items {
  display: flex;
  justify-content: space-between;
}

.testimonial-item {
  position: relative;
  z-index: 10;
  width: 33%;
  background-color: #fff;
  padding: 1.8rem;
  font-size: 1.4rem;
}

.testimonial-description {
  margin: 0 0 1.8rem;
  color: #777;
  font-size: 1.8rem;
  font-style: italic;
}

.testimonial-author-img {
  width: 9.6rem;
  height: 9.6rem;
  max-width: 100%;
  border-radius: 50%;
}

.testimonial-author-name {
  font-size: 1.8rem;
  margin: 1.8rem 0 0 ;
  padding: 0;
  color: var(--main-color);
}

.testimonial-author-job {
  font-size: 1.4rem;
  color: #777;
  margin: 0;
  display: block;
}
/* End testimonials section styles */
/* ======================================================================= */
/* Start                             section styles */

/* End                             section styles */
